


<!-- Container component -->
<div class="container">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fb-profile-block">
					<div class="fb-profile-block-thumb cover-container"></div>
					<div class="profile-img">
						<a href="#">
							<img src="../../assets/images/melas.jpg" alt="" title="">        
						</a>
					</div>
					<div class="profile-name">
						<h2>Alejo</h2>
					</div>
					
					<!--div class="fb-profile-block-menu">
						<div class="block-menu">
							<ul>
								<li><a href="#">Timeline</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">Friends</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">More...</a></li>
							</ul>
						</div>
						<div class="block-menu">
							<ul>
								<li><a href="#">Timeline</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">Friends</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">More...</a></li>
							</ul>
						</div>
					</div-->
				</div>
				<h3>Descripcion</h3>
				<hr />
				<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
				<br />
				<h3>Historial</h3>
				<hr />
				<!-- Nav tabs -->
<ul class="nav nav-tabs">
	<li class="nav-item">
	  <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
	</li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
	<div class="tab-pane container active" id="home">				<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
	</div>
	<div class="tab-pane container fade" id="menu1">...</div>
	<div class="tab-pane container fade" id="menu2">...</div>
  </div>
  <br />
<br />
<br />
</div>
<br />
<br />
<br />
<a class="fab" href="/choose"><fa-icon [icon]="faHands"></fa-icon></a>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


				<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->
