
<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">!Promo!</h5>
		<hr/>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-8 center_div" *ngFor="let beer of beers">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src={{beer.image}} alt="card image"></p>
                                    <h4 class="card-title">{{beer.name}}</h4>
                                    <p class="card-text">CRA 11B # 71-16</p>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{beer.name}}</h4>
                                    <p class="card-text">{{beer.description}}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
								<a (click)="setBeer(beer)" class="btn btn-primary btn-sm"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            
        </div>
		<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->
    </div>
</section>

<a class="fab-profile fa fa-user" href="/profile"></a>

<!-- Team -->