
<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->
<!-- Team -->
<section id="team" class="pb-5">
  <br />  
  <br />            
  <br />  
  <br /> 	  
	<div class="container">
    <div class="row">
      <div class="col-lg-12 my-3">
          <div class="pull-right">
              <div class="btn-group">
                  <button class="btn btn-info" id="list">
                      Como Items
                  </button>
                  <button class="btn btn-danger" id="grid">
                      Como Tarjetas
                  </button>
              </div>
          </div>
      </div>
  </div>

  <div id="products"  class="row view-group" >
              <div *ngFor="let promotion of promotions" class="item col-xs-4 col-lg-4">
                <div >
                    <h3>{{promotion.bar.name}}</h3><img class="littlecircleimg" src="{{promotion.bar.image}}"/></div>
                <br />
                  <div class="thumbnail card">
                      <div class="img-event">
                          <img class="group list-group-image img-fluid" src="{{promotion.beer.image}}" alt="" />
                      </div>
                      <div class="caption card-body">
                          <h4 class="group card-title inner list-group-item-heading">
                            {{promotion.beer.name}}</h4>
                          <p class="group inner list-group-item-text">
                            {{promotion.beer.description}}
                          <div class="row">
                              <div class="col-xs-12 col-md-6">
                                  <p class="lead" *ngIf="promotion.beer.cup330 == 1">
                                        Cup  {{promotion.beer.cup330_price}}
                                  </p>
                                  <p class="lead" *ngIf="promotion.beer.giraffe == 1">
                                        Giraffe  {{promotion.beer.giraffe_price}}
                                  </p>
                                  <p class="lead" *ngIf="promotion.beer.pint == 1">
                                    Pint  {{promotion.beer.pint_price}}
                                 </p>
                                 <p class="lead" *ngIf="promotion.beer.pitcher == 1">
                                    Pitcher  {{promotion.beer.pitcher_price}}
                                 </p>
                              </div>
                              <div class="col-xs-12 col-md-6">
                                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  </div>
  </div>
	
</section>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading promotions... </p></ngx-spinner>
		<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->

        <a class="fab" href="/profile"><fa-icon [icon]="faUserTie"></fa-icon></a>
        <a class="fab_top" href="/choose"><fa-icon [icon]="faHands"></fa-icon></a>
<!-- Team -->