<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">!Bienvenido señor curioso!</h5>
		<h4 style="text-align: center">Encontramos las mejores cervezas para ti y para tu mejor momento. ¿Que tal si vamos a escoger un ratico?</h4>
		<br/>		
		<h3 style="text-align: center"> Vamos! </h3>
		<hr/>
        <div class="row" style="padding-bottom:5%">		
            <!-- Team member -->
            <div class="col-xs-12 col-sm-8 col-md-6">			
				<a style="width:20px; height:45px; font-size: 30px" class="fa fa-female"></a>
				<a style="width:40px; height:45px; font-size: 30px" class="fa fa-heart"></a>
				<a style="width:20px; height:45px; font-size: 30px" class="fa fa-male"></a>												
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/bpa.jpg" alt="card image"></p>
                                    <h4 class="card-title">Belgian Pale Ale (BPA)</h4>
                                    <p class="card-text">Mela´s </p>
                                    <a href="../profile_beer.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
						<div style="text-align:center; padding-top:5%">
							<a style="width:20px;  font-size: 30px; " href="#popup1" class="fas fa-map-marked-alt"></a> 
						</div>
                            <div class="card">							 
                                <div class="card-body text-center mt-4">								
                                    <h5 class="card-title">Acompañala con alitas y delicioso chorizo español!</h5>                                    
                                    <ul class="list-inline ul-responsive">
                                        <li class="list-inline-item">                                            
                                                <!--i class="fa fa-beer"></i-->
											<p><img class=" img-fluid backcardImg" src="../assets/images/alitas.jpg" alt="card image"></p>                                            
                                        </li>                                        
										
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/chorizo-espanol.jpg" alt="card image"></p>                                            
                                        </li>
 										
                                    </ul>									
                                </div>
							<a href="../profile_beer.html" class="btn btn-primary btn-sm" style="margin-top:-10%"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>								
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
			<!-- Team member -->
            <div class="col-xs-12 col-sm-8 col-md-6">	
				<h4 class="centrar" style="padding-bottom:10px">!Para el amor!</h4>			
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/sour_ale.jpg" alt="card image"></p>
                                    <h4 class="card-title">Sour Ale (SA)</h4>
                                    <p class="card-text">El mundo</p>
                                    <a href="../profile_beer.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
						<div style="text-align:center; padding-top:5%">
							<a style="width:20px;  font-size: 30px; " href="#popup1" class="fas fa-map-marked-alt"></a> 
						</div>						
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">Acompañalas de Pollo, alitas agridulces y/o deliciosas empanadas! </h5>                                    
                                    <ul class="list-inline ul-responsive">
                                        <li class="list-inline-item">                                            
                                                <!--i class="fa fa-beer"></i-->
											<p><img class=" img-fluid backcardImg" src="../assets/images/pollo.jpg" alt="card image"></p>                                            
                                        </li>                                        
										
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/alitas_agridulce.jpg" alt="card image"></p>                                            
                                        </li>  	
																			
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/empanada.jpg" alt="card image"></p>                                            
                                        </li>								
                                    </ul>									
                                </div>
							<a href="../profile_beer.html" class="btn btn-primary btn-sm" style="margin-top:-10%"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>								
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
			
			
			<!-- Team member -->
			<!-- Team member -->
            <div class="col-xs-12 col-sm-8 col-md-6" style="padding-top:4%">
				<a style="width:30px; height:45px; font-size: 30px" class="fa fa-beer"></a>
				<a style="width:40px; height:45px; font-size: 30px" class="fa fa-user-friends"></a>
				<a style="width:40px; height:45px; font-size: 30px" class="fa fa-hands-helping"></a>										
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/stout.jpg" alt="card image"></p>
                                    <h4 class="card-title">Stout</h4>
                                    <p class="card-text">El mundo</p>
                                    <a href="../profile_beer.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
						<div style="text-align:center; padding-top:5%">
							<a style="width:20px;  font-size: 30px; " href="#popup1" class="fas fa-map-marked-alt"></a> 
						</div>						
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">Acompañalas de Camarones y unos deliciosos brownies </h5>                                    
                                    <ul class="list-inline ul-responsive">
                                        <li class="list-inline-item">                                            
                                                <!--i class="fa fa-beer"></i-->
											<p><img class=" img-fluid backcardImg" src="../assets/images/camaron.jpg" alt="card image"></p>                                            
                                        </li>                                        
										
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/brownie.jpg" alt="card image"></p>                                            
                                        </li>  	 
                                    </ul>									
                                </div>
							<a href="../profile_beer.html" class="btn btn-primary btn-sm" style="margin-top:-10%"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>								
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
            <!-- Team member -->
			<!-- Team member -->
            <div class="col-xs-12 col-sm-8 col-md-6" style="padding-top:4%">	
				<h4 class="centrar" style="padding-bottom: 10px">!Para los amigos!</h4>											
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/weisen.jpg" alt="card image"></p>
                                    <h4 class="card-title">Weiser</h4>
                                    <p class="card-text">El mundo</p>
                                    <a href="../profile_beer.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
						<div style="text-align:center; padding-top:5%">
							<a style="width:20px;  font-size: 30px; " href="#popup1" class="fas fa-map-marked-alt"></a> 
						</div>						
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">Acompañalas con galletas y/o deliciosas ensaladas dulces </h5>                                    
                                    <ul class="list-inline ul-responsive">
                                        <li class="list-inline-item">                                            
                                                <!--i class="fa fa-beer"></i-->
											<p><img class=" img-fluid backcardImg" src="../assets/images/galletas.jpg" alt="card image"></p>                                            
                                        </li>                                        
										
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/ensalada_dulce.jpg" alt="card image"></p>                                            
                                        </li>  	
                                    </ul>									
                                </div>
							<a href="../profile_beer.html" class="btn btn-primary btn-sm" style="margin-top:-10%"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>								
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
            <!-- Team member -->
			<!-- Team member -->
            <div class="col-xs-12 col-sm-8 col-md-6" style="padding-top:4%">	
				<a style="width:40px; height:45px; font-size: 30px" class="fa fa-cocktail"></a>
				<a style="width:30px; height:45px; font-size: 30px" class="fa fa-user-secret"></a>
				<a style="width:20px; height:45px; font-size: 30px" class="fa fa-glass-cheers"></a>
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/ipa.jpg" alt="card image"></p>
                                    <h4 class="card-title">Indian pale ale (IPA)</h4>
                                    <p class="card-text">India</p>
                                    <a href="../profile_beer.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
						<div style="text-align:center; padding-top:5%">
							<a style="width:20px;  font-size: 30px; " href="#popup1" class="fas fa-map-marked-alt"></a> 
						</div>						
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">Acompañalas de pizza, una hamburguesa y/o deliciosas empanadas! </h5>                                    
                                    <ul class="list-inline ul-responsive">
                                        <li class="list-inline-item">                                            
                                                <!--i class="fa fa-beer"></i-->
											<p><img class=" img-fluid backcardImg" src="../assets/images/pizza_pepperoni.jpg" alt="card image"></p>                                            
                                        </li>                                        
										
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/hamburguesa.jpg" alt="card image"></p>                                            
                                        </li>  	
																			
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/empanada.jpg" alt="card image"></p>                                            
                                        </li>  
                                    </ul>									
                                </div>
							<a href="../profile_beer.html" class="btn btn-primary btn-sm" style="margin-top:-10%"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>								
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
			<!-- Team member -->
            <div class="col-xs-12 col-sm-8 col-md-6" style="padding-top:4%">	
				<!--a style="width:30px; height:60px; font-size: 30px" class="fa fa-user-secret"></a>
				<a style="width:20px; height:60px; font-size: 30px" class="fa fa-cocktail"></a-->
				<h4 class="centrar" style="padding-bottom: 10px">!Y para mi!</h4>									
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/lager.jpg" alt="card image"></p>
                                    <h4 class="card-title">Lager (SA)</h4>
                                    <p class="card-text">El mundo</p>
                                    <a href="../profile_beer.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
						<div style="text-align:center; padding-top:5%">
							<a style="width:20px;  font-size: 30px; " href="#popup1" class="fas fa-map-marked-alt"></a> 
						</div>						
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title">Acompañalas de delicioso sushi y/o apetitoso cerdo asado </h5>                                    
                                    <ul class="list-inline ul-responsive">
                                        <li class="list-inline-item">                                            
                                                <!--i class="fa fa-beer"></i-->
											<p><img class=" img-fluid backcardImg" src="../assets/images/sushi.jpg" alt="card image"></p>                                            
                                        </li>                                        
										
										<li class="list-inline-item">                                            
											<p><img class=" img-fluid backcardImg" src="../assets/images/cerdo_asado.jpg" alt="card image"></p>                                            
                                        </li>  	
                                    </ul>									
                                </div>
							<a href="../profile_beer.html" class="btn btn-primary btn-sm" style="margin-top:-10%"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>								
                            </div>
                        </div>						
                    </div>
                </div>
            </div>
            <!-- Team member -->

        </div>
		<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->
</div>
		
</section>

<a class="fab-profile fa fa-user" href="../profile.html"></a>

<div id="popup1" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
	<div class="content">
		<p><img class=" img-fluid" src="../assets/images/mapa.png" alt="card image"></p>
	</div>
</div>

<!-- Team -->
