<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Y tu. ¿Quien eres?</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-10 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/maestro.jpg" alt="card image"></p>
                                    <h4 class="card-title">Maestro cervecero</h4>
                                    <p class="card-text">!El master!</p>
                                    <a href="segunda.html" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Si... !lo soy!</h4>
                                    <p class="card-text">Ser maestro cervecero implica ser el mejor! Sabes donde conseguir tu cerveza y como pagarla. !Nos quitamos el sombrero!</p>                                    
                                </div>
								<a href="../primera.html" class="btn btn-primary btn-sm"><p style="color:white; text-align:center;margin-top:4%">¡Soy maestro!</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-10 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/promocion.jpg" alt="card image"></p>
                                    <h4 class="card-title">!Promoción!</h4>
                                    <p class="card-text">!Solo aqui!</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Promo</h4>
                                    <p class="card-text">Y si. la sección favorita. Aqui encontraras las mejores polas al mejor precio. !Que esperas! </p>                                    
                                </div>
								<a href="promocion.html" class="btn btn-primary btn-sm"><p style="color:white; text-align:center;margin-top:4%">¡Promo!</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!-- ./Team member -->
			<!-- Team member -->
            <div class="col-xs-10 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../assets/images/curioso.jpg" alt="card image"></p>
                                    <h4 class="card-title">Curioso cervecero</h4>
                                    <p class="card-text">Si, !yo soy!</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-beer"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Me interesa</h4>
                                    <p class="card-text">La curiosidad embriago al gato! Dame la oportunidad de darte la mejor recomendacion</p>                                    
                                </div>
								<a href="primera_curioso.html" class="btn btn-primary btn-sm"><p style="color:white; text-align:center;margin-top:4%">¡El curioso soy yo!</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!-- ./Team member -->
        </div>
		<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->
    </div>
</section>

<a class="fab-profile fa fa-user" href="profile.html"></a>
