
<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->

<!-- Container component -->
<div class="container">
    <div class="container">
		<div class="row" *ngIf="beer_subject | async as beer_detail; else loading">
			<div class="col-md-12">
				<div class="fb-profile-block">
					<div class="fb-profile-block-thumb cover-container"></div>
					<div class="profile-img">
						<a href="#">
							<img src="{{beer.image}}" alt="" title="">        
						</a>
					</div>
					<div class="profile-name">
						<h2>{{beer.name}}</h2>
					</div>
					
					<!--div class="fb-profile-block-menu">
						<div class="block-menu">
							<ul>
								<li><a href="#">Timeline</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">Friends</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">More...</a></li>
							</ul>
						</div>
						<div class="block-menu">
							<ul>
								<li><a href="#">Timeline</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">Friends</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">More...</a></li>
							</ul>
						</div>
					</div-->
				</div>
				<h3>Descripcion</h3>
				<hr />
				<p>{{beer.description}}</p>
				<br />
				<h3>Acompañala con</h3>
				<hr />
				<div *ngFor="let pairing of beer_detail">
					<p>{{pairing.image}}</p>
					<p>{{pairing.name}}</p>
					<hr />
				</div>
				<h3>¿Como quieres tu cerveza?</h3>
				<br />
				<select class="form-control form-control-sm">
					<option *ngIf="beer.cup330" selected>Vaso</option>
					<option *ngIf="beer.pint">Pinta</option>
					<option *ngIf="beer.pitcher">Jarra</option>
					<option *ngIf="beer.giraffe">Jirafa</option>
				</select>
				<br />
				<hr />
				<h3>¿Cantidad?</h3>
				<br />
				<select class="form-control form-control-sm">
					<option selected>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<hr />
				<h3>Tipo de pago?</h3>
				<select class="form-control form-control-sm">
					<option [value]="pay_type" *ngFor="let pay_type of pay_types">             
						{{pay_type.name}}</option>
				  </select>		
			</div>
		</div>
	</div>

	
</div>

<br />
<br />
<br />
			<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->

		<ng-template #loading let-user>Waiting...</ng-template>



	<a class="fab" (click)="goSave()"><fa-icon [icon]="faSave"></fa-icon></a>	
	<a class="fab_top" href="/profile"><fa-icon [icon]="faUserTie"></fa-icon></a>	
	<a class="fab_middle" href="/bars"><fa-icon [icon]="faBeer"></fa-icon></a>	

	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Cargando tu pola... </p></ngx-spinner>
