
<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->

<!-- Container component -->
<div class="container">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fb-profile-block">
					<div class="fb-profile-block-thumb cover-container"></div>
					<div class="profile-img">
						<a href="#">
							<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" title="">        
						</a>
					</div>
					<div class="profile-name">
						<h2>Markins Smithertain</h2>
					</div>
					
					<div class="fb-profile-block-menu">
						<div class="block-menu">
							<ul>
								<li><a href="#">Timeline</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">Friends</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">More...</a></li>
							</ul>
						</div>
						<div class="block-menu">
							<ul>
								<li><a href="#">Timeline</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">Friends</a></li>
								<li><a href="#">Photos</a></li>
								<li><a href="#">More...</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>

			<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->



	<a class="fab fa fa-save" (click)="goSave()"></a>
	<a class="fab-profile fa fa-user" href="/profile"></a>	
	<a class="fab-panic fa fa-beer" href="/bars"></a>	