/* FontAwesome for working BootSnippet :> */

@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
#team {
    background: #eee !important;
}



.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.color_tittle
{
	color:#008080;
}

.footer
{
	position: relative;float: left;top: 60%;left: 50%;transform: translate(-50%, 20%);
}

.btn-primary {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #008080;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.letra
{
	font-family: Verdana, Geneva, sans-serif;
}

.negrita
{
	font-weight: bold;
}

.letra_blanca
{
	color: white;
}

.backside .card a {
    font-size: 18px;
    color: #008080 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #008080 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.fab-profile {
   width: 70px;
   height: 70px;
   background-color: #008080;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white !important;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   right: 45px;
   bottom: 85%;
   text-decoration:none !important;
}
 
.fab-profile:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
   cursor:pointer;
}

.backcardImg
{
	width: 98px;
    height: 98px;
    border-radius: 50%;
}

.centrar
{
	text-align: center;
}

.ul-responsive
{
	margin-top:4%;
}

@media (max-width: 600px) 
{
  .ul-responsive 
  {
    margin-top:7%;
  }
  .backcardImg
  {
	width: 40px;
    height: 40px;
  }
}

@media (max-width: 950px) 
{
.ul-responsive 
  {
    margin-top:8%;
  }
  .backcardImg
  {
	width: 70px;
    height: 70px;
  }
}

@media (max-width: 270px) 
{
  .backcardImg
  {
	width: 45px;
    height: 45px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 500ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 40%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

