<!-- Container para el clima -->
<div class="container_wid">
	<div icon="sunny" data-label="Sunny" style="display:none">
		<span class="sun"></span>
	</div>

	<div icon="cloudy" data-label="Perfect" >
		<span class="cloud"></span>
		<span class="cloud"></span>
	</div>

<div icon="snowy" data-label="Chilly" style="display:none">
  <span class="snowman"></span>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div icon="stormy" data-label="Soggy" style="display:none">
  <span class="cloud"></span>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div icon="supermoon" data-label="Cool!" style="display:none">
  <span class="moon"></span>
  <span class="meteor"></span>
</div>
</div>

<!-- /////// -->
