
<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->
<div class="container">

    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="assets/images/fondo_perfil_codigo.jpg" alt="Profile image example"/>        
        <div class="fb-profile-text">
            <h1 class="color_tittle center"><strong>!FELICITACIONES!</strong></h1>
			<br/>			
            		
        </div>
		<div class="fb-profile-text">         
            <h2 class="center" >TU CODIGO ES: </h2>			
			<!--h1 class="center"><b>BAZ4NED0E93J12 </b></h1-->
			<div style="text-align: center">
				<img  src="assets/images/qr_img.png" alt="Generador de Códigos QR Codes"/>
			</div>
			<br/>
			<button class="button">Espere que sea validado por el Barman </button>
        </div>			
    </div>
		
			<br/>
		<div style="width:100%;height:10%;background-color:#008080">
			<div class="footer">
				<p class="letra negrita letra_blanca">Todos los derechos reservados</p>
			</div>
		</div>

</div> <!-- /container --> 

<a class="fab-profile fa fa-user" href="/profile"></a>

				<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->

