<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->

<!-- Team -->
<section id="team" class="pb-5">
    <br />  
    <br />            
    <br />  
    <br /> 	  
      <div class="container">
      <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list_bar">
                        Como Items
                    </button>
                    <button class="btn btn-danger" id="grid_bar">
                        Como Tarjetas
                    </button>
                </div>
            </div>
        </div>
    </div> 

    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Estilo</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">IPA</a>
              <a class="dropdown-item" href="#">Rubia</a>
              <a class="dropdown-item" href="#">Trigo</a>
              <a class="dropdown-item" href="#">APA</a>
              <a class="dropdown-item" href="#">Stoud</a>
            </div>
          </li>
      </ul>
    <div id="products" class="row view-group" *ngFor="let beer of beers">
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" src={{beer.image}} alt="" />
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                {{beer.name}}</h4>
                            <p class="group inner list-group-item-text">
                                {{beer.description}}</p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        {{beer.avb}}</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" (click)="goBeerDetail(beer)">Quiero esta!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</section>
		<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->
<!-- Team -->
<a class="fab" href="/profile"><fa-icon [icon]="faUserTie"></fa-icon></a>
<a class="fab_middle" href="/choose"><fa-icon [icon]="faHands"></fa-icon></a>
<a class="fab_top" href="/bars"><fa-icon [icon]="faBeer"></fa-icon></a>	

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Cargando las polas... </p></ngx-spinner>
<router-outlet></router-outlet>