
<!-- Weather component -->
<app-weather-component></app-weather-component>
<!-- /////// -->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">¿Que te vas a tomar hoy?</h5>
		<hr/>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let bar of bares">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src={{bar.image}} alt="card image"></p>
                                    <h4 class="card-title">{{bar.name}}</h4>
                                    <p class="card-text">{{bar.direction}}</p>
                                    <a (click)="goBeers(bar.name)" class="btn btn-primary btn-sm "><i class="fa fa-home"></i></a>									
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Experiencia</h4>
                                    <p class="card-text">{{bar.description}}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
								<a (click)="goBeers(bar.name)" class="btn btn-primary btn-sm"><p style="color:white; text-align:center;margin-top:4%">¡Este es!</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

        </div>
		<!-- Footer component -->
		<app-footer-component></app-footer-component>
		<!-- Footer component -->
    </div>
</section>

<a class="fab-profile fa fa-user" href="/profile"></a>
<a class="fab fa fa-hands" href="/choose"></a>

<!-- Team -->

<!-- Popup -->
<div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
 
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

<!-- Popup -->